.Elemnt__block {
  width: 100%;
  background-color: white;
  border-radius: 11px;
  box-shadow: 0px 0px 5px #bababa;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.Block__imgblock {
  width: 120px;

  height: 100%;
  display: inline-block;
}

.Block__text {
  display: inline-block;

  width: 57%;
}

.Block__img {
  margin-left: 10px;
  width: 102px;
  height: 102px;
  border-radius: 11px;
}

.Block__h1 {
  margin: 0;
  padding: 0;
  width: fit-content;
  font-weight: 500;
  font-size: 18px;
}
.Block__p {
  font-weight: 300;
  font-size: 15px;
}

.Block__p__recept {
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 160px;
  overflow: auto;
}

/* .Block__p__recept:empty {
  font-weight: 300;
  font-size: 15px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 10px;
  overflow: auto;
} */
